@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --primary: #631d28;
    --black: #050004;
    --white: #ffffff;
    --gray: #bdbdbd;
    --quaternary: #11181e;
    --main-font: 'VT323', monospace;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Global */

body {
    background-color: var(--black);
    color: #ffffff;
    font-size: 1.6rem;
    font-family: var(--main-font);
    max-width: 110rem;
    width: 95%;
    margin: 0 auto;
    margin-inline: auto;
}

textarea {
    background-color: var(--quaternary);
    color: var(--gray);
    border: none;
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 2rem;
}

h1,
h2,
p {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.header {

    .title {
        margin-bottom: 0;
    }
}

.main {
    display: flex;
    flex-direction: column;

    .input {
        width: 100%;
        padding: 1rem;
        margin: 0;
        font-size: 2.5rem;
        resize: none;
        height: 40rem;
        outline: none;
    }

    .info {
        text-align: left;
        margin: 0;
        padding: 1.8rem 1rem;
        color: var(--gray);
        border-radius: 1rem;
    }

    .buttons {
        display: flex;
        gap: 1rem;
        font-size: 3.2rem;

        & .encrypt {
            flex-grow: 1;
            background-color: var(--primary);
            color: var(--white);
            padding: 1rem 2rem;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        & .decrypt {
            flex-grow: 1;
            background-color: var(--black);
            color: var(--white);
            padding: 1rem 2rem;
            border: 1px solid var(--primary);
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--primary);
                cursor: pointer;
            }
        }
    }
}

.aside {

    .output {
        width: 100%;
        padding: 1rem;
        margin: 0;
        font-size: 2.5rem;
        resize: none;
        height: 40rem;
        outline: none;
    }

    .button {
        margin-top: 1rem;
        font-size: 3.2rem;
        width: 100%;
        padding: 1rem;
        background-color: var(--black);
        color: var(--white);
        border: 1px solid var(--primary);
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--primary);
            cursor: pointer;
        }
    }
}

.footer {
    text-align: center;
    font-size: 2rem;
    color: var(--gray);
    margin-top: 3rem;
}

/* Media Queries */
@media (width >= 768px) {

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container {
        flex-direction: row;
        gap: 4rem;
        justify-content: space-between;

        & .main {
            width: 70%;
        }

        & .aside {
            width: 30%;
        }
    }

    .main {

        .info {
            padding: 2rem 1rem;
        }

        .input {
            height: 45rem;
        }
    }

    .aside {

        .button {
            display: block;
            margin: 0 auto;
            margin-top: 5.8rem;
        }

        .output {
            height: 45rem;
        }
    }
}
